@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron home-jumbo">
    <h1>Wardrobe</h1>
    <p class="lead">Choose anything from the top to get started</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New clothes every week</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dictum neque, vel eleifend mi. Vestibulum consectetur efficitur enim a efficitur. Fusce ut orci augue. Cras nec massa vitae mauris tincidunt vehicula et accumsan nulla. Maecenas facilisis augue eget nibh dictum, eu faucibus massa varius. Aliquam vitae dolor elit. Sed eu lorem quis metus finibus ultricies eget et sapien. Vestibulum cursus nulla sed nisi pellentesque, in lobortis erat sagittis. Quisque mollis sem nibh, sed pretium tellus aliquet a.
        </p>
    </div>
    <div class="col-md-4">
        <p><img class="armoire" src="~/Content/armoire-576194_960_720.png" /></p>
    </div>
    <div class="col-md-4">
        <h2>The best designs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dictum neque, vel eleifend mi. Vestibulum consectetur efficitur enim a efficitur. Fusce ut orci augue. Cras nec massa vitae mauris tincidunt vehicula et accumsan nulla. Maecenas facilisis augue eget nibh dictum, eu faucibus massa varius. Aliquam vitae dolor elit. Sed eu lorem quis metus finibus ultricies eget et sapien. Vestibulum cursus nulla sed nisi pellentesque, in lobortis erat sagittis. Quisque mollis sem nibh, sed pretium tellus aliquet a.</p>
    </div>
</div>